body{
    font-family: sans-serif;
}
.contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  width: 150px;
  text-align: center;
  background: #f9f9f9;
}

.encabezado{
    width: 100%;
    height: 50px;
    background-color: rgb(0, 66, 153);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.boton_registro{
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 30px;
    border-radius: 20px;
    width: 200px;
    text-align: center;
    text-decoration: none;
}

.usuario_logueado{
  background-color: rgb(255, 255, 255);
    color: black;
    font-size: 30px;
    border-radius: 20px;
    width: auto;
    text-align: center;
    text-decoration: none;
}